@import './../../styles/default.scss';
.nav-left{
  height: 100%;
  .logo{
    line-height: 90px;
    padding-left: 20px;
    img{
      height: 35px;
    }
    h1{
      color: #ffffff;
      font-size: 20px;
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 0 10px;
    }
  }
}
