@import "../../styles/default.scss";
.header {
  height: 64px;
  display: flex;
  flex-direction: row-reverse;
  .header-top{
    padding-right: 15px;
  }
  .header-sub{
    text-align: right;
    font-size: 14px;
    padding-right: 15px;
    .date{
      margin-right: 10px;
      vertical-align: middle;
    }
    .weather-img{
      img{
        height: 15px;
      }
    }
    .weather-detail{
      margin-left: 5px;
      vertical-align: middle;
    }
  }
}
