body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#root{
  width: 100%;
  height: 100%;
}
.container{
  width: 100%;
  height: 100%;
}

.center-text{
  height: calc(62vh);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.inline-page{
  margin: 15px 0;
  background: #ffffff;
  min-height: 660px;
}
